In [1]:
english = int(input("Enter Your English Marks "))
urdu = int(input("Enter Your Urdu Marks "))
accounting = int(input("Enter Your Accounting Marks "))
economics = int(input("Enter Your Economics Marks "))
math = int(input("Enter Your math Marks "))
total = (english + urdu + accounting + economics + math)
per = (total * 100 / 425)
print(per)
if per >= 80 and per <100:
    print("Your Grade is 'A+' ")
elif per >= 70 and per <80 :
    print("Your Grade is 'A' ")
elif per >= 60 and per <70:
    print("Your Grade is 'B' ")
elif per >= 50 and per <60:
    print("Your Grade is 'C' ")
elif per >= 40 and per <50:
    print("Your Grade is 'D' ")
elif per >= 0 and per <40:
    print("Sorry ! You Are Fail ")
else :
    print("You have Entered Incorrect Marks")

Enter Your English Marks 45
Enter Your Urdu Marks 65
Enter Your Accounting Marks 76
Enter Your Economics Marks 34
Enter Your math Marks 60
65.88235294117646
Your Grade is 'B'

In [11]:
x = int(input("Enter a number :"))
if x%2==0:
  print(x,"is Even")
else:
    print(x,"is odd")

Enter a number :5
5 is odd

In [13]:
arr = [1,2,3,4,5,6,7,"akif","ali"]
len(arr)

9

In [15]:
mylist = [2,2,2,3,4,5]
total = sum(mylist)
print(total)

18

In [23]:
a = []
n = int(input("Enter a number of elements : "))
for i in range(1,n+1):
    b = int(input("enter element : "))
    a.append(b)
a.sort()
print("Largest element is : ",a[n-1])

Enter a number of elements : 5
enter element : 234
enter element : 4322
enter element : 3443
enter element : 766
enter element : 127
Largest element is :  4322

In [26]:
arr = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
arr[:4]

[1, 1, 2, 3]